div > .fighter-image {
  height: 300px;
  width: 220px;
  object-fit: fill;
}

/*
  Наверное, это не лучший способ составить css-селектор, но лучшее, что у меня получилось,
  чтоб разверуть второго бойца
*/
#figh-wrapper .btn-wrapper + div .fighter-image {
  transform: scaleX(-1);
}